@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Password Generator</h1>
    <p><a href="~/Generate/Generate">Welcome to the password project</a></p>
</div>
